<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/skeleton.css">
    <title>!{ title }</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="twelve columns">
            !{ body }
        </div>
    </div>

    !{{
        library
        .render((page) => {
            return `<a href="${page.url()}">${page.get('link_text')}</a>`;
        })
    }}
</div>
</body>
</html>
